@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-background: #f2eae1;
  --pink: #b600fe;
  --purple: #6a00fe;
}

html {
  height: 100%;
}

body {
  display: flex;
  background-color: rgb(240, 240, 240);
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

/* Oculta todo el contenido mientras se verifica la sesión */
body.loading #aside-navbar,
body.loading #main-content {
  display: none;
}

/* Opcional: muestra fondo blanco mientras carga */
body.loading {
  background-color: #fff;
}


.container {
  max-width: 100rem;
  width: 90%;
  margin: 0 auto;
}

.main-content {
  padding: 3rem;
  color: black;
  overflow-y: auto;
  width: 100%;
}

.navbar {
  flex-direction: column;
  min-width: 20rem;
  background-color: var(--navbar-background);
  color: black;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-profile {
  width: 10rem;
}

.img-profile img {
  width: 100%;
  border-radius: 30rem;
}

.title,
.name-profile,
.role-profile {
  text-align: center;
}

.title {
  text-shadow: -1px -1px 0 var(--pink), 1px -1px 0 var(--pink),
    -1px 1px 0 var(--pink), 1px 1px 0 var(--pink);
}

.role-profile {
  color: var(--pink);
}

.container-nav ul li,
.logout {
  display: grid;
}

.container-nav {
  width: 70%;
}

.container-nav ul li {
  grid-template-columns: 0.5fr 1fr;
  font-size: 1.2rem;
  margin: 2.5rem 0;
  gap: 1.5rem;
}

.container-nav ul li img {
  width: 1.5rem;
  justify-self: right;
}
.logout {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

/* Lists Users */

.head-list-users {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 1rem;
}

td {
  padding: 1rem;
}

/* login */

.section-login {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}

.login {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.div-inputs {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.div-inputs input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--purple);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.login button {
  padding: 0.6rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--purple);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login button:hover {
  transform: scale(1.02);
  transition: 0.06s ease-in-out;
}
