<section>
    <h1>Students List</h1>
    <button id="add-new-user">ADD NEW STUDENT</button>

    <table>
        <thead>
            <tr>
                <!-- <th>Avatar</th> -->
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Enroll Number</th>
                <th>Date of Admission</th>
                <th class="buttons-action">Actions</th>
            </tr>
        </thead>
        <tbody id="list-users"></tbody>
    </table>
</section>